
@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Delete User";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        
        <form class="form-inline" asp-controller="User" asp-action="Delete" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Click here to Confirm Delete</button>
        </form>
    }
</header>
