@model PresentationLayer.ViewModels.RegisterViewModel

<div class="container center" style="max-width:40%">
    <form asp-controller="Authentication" asp-action="RegisterInput" method="post">
        <label for="email">Email</label>
        <input class='form-control' id='email' name="email"  asp-for="Email" /> <br />
        <label for="password">Password</label>
        <input  class='form-control' id="password" name='password' asp-for="Password" /><br />
        <label for="username">Username</label>
        <input  class='form-control' id="username" name='username' asp-for="Username" /><br />
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
