@model PresentationLayer.ViewModels.AddArtworkViewModel


<form  asp-action="Index" asp-controller="AddArtwork" >


    
   <label for="Title">Title</label>
   <input class='form-control' id='Title' name="Title"  /> <br />
   <label for="Author">Author</label>
   <label for="EconomicValue">Economic Value</label>
   <input  class='form-control' id="EconomicValue" name='EconomicValue' a /><br />
   <label for="Period">Period</label>
   <input  class='form-control' id="Period" name='Period'  /><br />
   <label for="CreationDate">Creation Date</label>
   <input  class='form-control' id="CreationDate" name='CreationDate'  /><br />
   @* <label for="EntryDate">Entry Date</label>
   <input  class='form-control' id="EntryDate" name='EntryDate'  /><br /> *@
   <label for="Museum">Museum Room</label>
   <input  class='form-control' id="MuseumRoom" name='MuseumRoom'  /><br />
   <button class="btn btn-primary" type="add">Add</button>

</form>