@model PresentationLayer.ViewModels.ArtworklendingViewModel
@* @using PresentationLayer.Controllers *@
@{
    ViewData["Title"] = "Datails Artwork";
}


<h2>
    @Html.DisplayFor(model=> model.ArtworkTitle)
</h2>
<h2>
    @Html.DisplayFor(model=> model.Athor)

</h2>

<a class="btn btn-primary" asp-action="Acepted"  >Acepted</a>
<a class="btn btn-primary" asp-action="Rejected"  >Rejected</a>


