@model PresentationLayer.ViewModels.CreateRestaurationViewModel


@{
    ViewData["Title"] = "Add Restauration";
}

<h1>Add Restauration</h1>

<h4>Restauration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post" asp-route-artworkId="@Model.ArtworkId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="Id" /> *@
            <div class="form-group">
                <label asp-for="TypeRestauration" class="control-label"></label>
                <input asp-for="TypeRestauration" class="form-control" />
                <span asp-validation-for="TypeRestauration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




@* <form  asp-action="Index" asp-controller="AddArtwork" >


    
   <label for="Title">Title</label>
   <input class='form-control' id='Title' name="Title"  /> <br />
   <label for="Author">Author</label>
   <input class='form-control' id='Author' name="Author"  /> <br />
   <label for="EconomicValue">Economic Value</label>
   <input  class='form-control' id="EconomicValue" name='EconomicValue' a /><br />
   <label for="Period">Period</label>
   <input  class='form-control' id="Period" name='Period'  /><br />
   <label for="CreationDate">Creation Date</label>
   <input  class='form-control' id="CreationDate" name='CreationDate'  /><br />
   @* <label for="EntryDate">Entry Date</label>
   <input  class='form-control' id="EntryDate" name='EntryDate'  /><br /> 
   <label for="Museum">Museum Room</label>
   <input  class='form-control' id="MuseumRoom" name='MuseumRoom'  /><br />
    <a class="btn btn-primary" asp-controller = "Catalog" asp-action="Index" >Add</a>

</form> *@